<div class="d-flex align-items-center">
  <p class="">
    <i class="fa-solid fa-user"></i><span class="mx-2"><%= number_of_guests %></span>
  </p>
  <p class="mx-2">
    <i class="fa-solid fa-euro-sign"></i><span class="mx-2"><%= price_per_night %></span>
  </p>
</div>
